@import url('https://fonts.cdnfonts.com/css/minecraft-3');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-thumb {
    background-color: #7CB0FF; 
    border-radius: 6px; 
}

::-webkit-scrollbar-track {
    background-color: #494949; 
}

body {
    font-family: 'Minecraft', sans-serif;
    background-color: #494949;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.window{
    background-color: #333;
    margin-left: 0;
    border: solid;
    border-color: #7CB0FF;
    color: #f3f4f5;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

.topbar {
    width: 100%;
    background-color: #7CB0FF;
    color: #000;
    font-size: 14px;
    height: 30px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;     
}

.exiticon{
    margin-right: 5px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.nametag {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.nametag img{
    height: 24px;
    width: 24px;
    margin-left: 10px;
}

.widowContent {
    height: 100px;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#utilContainer{
    padding: 10px;
    height: 90%;
    width: 90%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.jump {
    color: #7CB0FF;
    cursor: pointer;
    text-decoration: underline;
}