@import url("http://cdn.ndrew.sk/fonts/GohuFont11NerdFontMono-Regular.ttf");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #7CB0FF;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #494949;
}

body {
    font-family: 'GohuFont 11 Nerd Font', sans-serif;
    background-color: #494949;
    color: #333;
    padding: 20px;
    max-width: 900px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.window{
    background-color: #333;
    margin: 0.5rem;
    margin-left: 0;
    border: solid;
    border-color: #7CB0FF;
    color: #f3f4f5;
    display: flex;
    flex-direction: column;
}

.topbar {
    background-color: #7CB0FF;
    color: #000;
    font-size: 14px;
    height: 30px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exiticon{
    margin-right: 5px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.nametag {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.nametag img{
    height: 24px;
    width: 24px;
    margin-left: 10px;
}

.windowContent{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

#loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid 2px #7CB0FF;
    width: 95%;
    color: #f3f4f5;
    background-color: #333;
    outline: none;
    font-family: 'Minecraft', sans-serif;
}

button{
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: #7CB0FF;
    color: #000;
    width: 95%;
    cursor: pointer;
    font-family: 'Minecraft', sans-serif;
    font-size: medium;
}