@import url("./main.css");

/* Page-specific styles below */

#minute-by-minute{
    padding-left: 1rem;
    padding-right: 1rem;
}

.rowNews{
    margin-top: 10px;
    margin-bottom: 10px;
}

.timeStamp{
    color: #7CB0FF;
}

@media screen and (max-width: 600px) {
    .topbar{
        font-size: smaller;
    }
}