@import url("./main.css");

/* Page-specific styles below */

#stats {
    padding: 0.5rem;
}

.nContainer {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    min-width: 200px;
    max-width: 280px;
}

.nContainer img {
    width: auto;
    height: 150px;
    aspect-ratio: 3/4;
}

.nContainer h1 {
    font-size: large;
}

.nContainer h2 {
    font-size: medium;
}

.nInfo {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status {
    color: var(--color-accent);
}

.blue {
    color: var(--color-accent);
}

#manga, #anime, #movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: auto;
}
