@import url('https://fonts.cdnfonts.com/css/minecraft-3');


@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        width: 90vw;
    }
    
    #rightcolumn{
        width: 100% !important;
    }

    #leftcolumn{
        width: 100% !important;
    }

    .window {
        margin-right: 0 !important;
    }

    #speci{
        display: none;
    }

    .topbar {
        height: fit-content !important;
    }
    
    .statusItem{
        display: flex;
        flex-direction: column;
    }

    .nametag h1{
        font-size: 25px;
    }

    .articleheading img{
        display: none;
    }

    .projectheading img{
        display: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-thumb {
    background-color: #7CB0FF; 
    border-radius: 6px; 
}

::-webkit-scrollbar-track {
    background-color: #494949; 
}

body {
    font-family: 'Minecraft', sans-serif;
    background-color: #494949;
    color: #333;
    padding: 20px;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
}


main {
    display: flex;
    justify-content: center;;
}

marquee {
    width: 100%;
}

#rightcolumn{
    width: 35%;
}

#leftcolumn{
    width: 65%;
}


.window{
    background-color: #333;
    margin: 0.5rem;
    margin-left: 0;
    border: solid;
    border-color: #7CB0FF;
    color: #f3f4f5;
    display: flex;
    flex-direction: column;
}

.topbar {
    background-color: #7CB0FF;
    color: #000;
    font-size: 14px;
    height: 30px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;     
}

.exiticon{
    margin-right: 5px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.nametag {
    display: flex;
    align-items: center;
}

.nametag img{
    height: 24px;
    width: 24px;
    margin-left: 10px;
}

.windowContent{
    height: fit-content;
}

#aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile{
    height: 100px;
    aspect-ratio: 1/1;
    margin-left: 10px;
    border: solid;
    border-color: #7CB0FF;      
}

#yap{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.href {
    margin-top: 5px ;
    text-decoration: none;
    color: #f3f4f5;
    transition-duration: 0.3s;
}

.href:hover {
    color: #7CB0FF;
    text-decoration: underline;
}

#qotd{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.project{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.projectheading{
    display: flex;
    align-items: center;
}

.projectheading img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.jump{
    color: #7CB0FF;
    text-decoration: none;
}

.jump:hover{
    text-decoration: underline;
}

.article{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.articleheading{
    display: flex;
    align-items: center;
}

.articleheading img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

#muzic{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#muzicinfo{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#songCover{
    height: 80px;
    aspect-ratio: 1/1;
    border: solid;
    margin-left: 10px ;
    border-color: #7CB0FF;
}

#songinfo{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

#muzicstatus{
    margin-left: 5px;
}

#muzicStatus{
    margin: 5px;
    display: flex;
    align-items: center;
}

#muzicStatus img{
    height: 17px;
    aspect-ratio: 1/1;
    margin-left: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spin {
    animation: spin 2s linear infinite;
}

.link{
    display: flex;
    align-items: center;
    margin: 10px;
}

.link img{
    height: 20px;
    width: 20px;
    margin-right: 7px;
}

.fancyjump{
    display: flex;
}

.fancyjump a{
    margin-right: 5px;
}

#terminalwindow{
    height: 10rem;
    overflow-y: auto;
    padding-left: 5px ;
    padding-top: 2px;
}

#terminalinput {
    border: none;
    background: none;
    color: #f3f4f5;
    outline: none;
    width: 100%;
    font-family: 'Tickerbit';
}

#inputLine {
    display: flex;
}
#inputPrefix {
    margin-right: 5px;
}

footer{
    display: flex;
    justify-content: center;
    margin: 10px;
    color: #f3f4f5;
}

#statusWindow{
    margin: 10px;
}
.statusItem{
    display: flex;
    justify-content: space-between;
}

#coolsites{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

#coolsites marquee{
    width: 100%;
    display: flex;
}

#poems{
    padding: 1rem;
    font-size: 15px;
}