@import url("./main.css");

/* Page-specific styles below */

body {
    height: 100vh;
    justify-content: center;
}

.windowContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.windowContent p {
    padding: 1rem;
}
